
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Arimo:ital@0;1&family=Barlow:wght@600&family=Inter:slnt,wght@-10..0,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Open+Sans:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color1:#FBD7D0;
    --color2:#B4604D;
    --color3:#F6F4EC;
    --color4: #A9AE8D;
  }
  body{
    font-family: "Madimi One", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 1440px;
    background: #FFF;
    margin: 0 auto;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
    left:0;
}
  /* Header */
header .container{
    background-color: var(--color2);
    color: var(--color3);
    text-align: center;
    height: 1100%;
    padding: 13px 0;
    letter-spacing: 0.05em;
    font-size: 1.1em;
}
@media screen and (max-width:360px){
    header .container{
        font-size: 0.85em;
    }
}
/* Navigator */
.navbar {
    
}
.nav_flex {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-top: 0.5%;
}
.flex_left ul{
    display: flex;

    
}
.flex_left ul li{

    list-style: none;
}
.flex_left ul li a{
    text-decoration: none;
    color: var(--color2);
    color: rgb(180, 96, 77);
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0%;
    padding-right: 1.5em;
    white-space: nowrap;
    margin-top: 5%;
    align-self: center;

}
.nav_img {
 margin-left: -22%;

}
.nav_right {
    display: flex;

}
.p_nav {
    color: var(--color2);
    margin-top: 15%;
    cursor: pointer;
}
.nav_im_right {
}
.flex_left ul li a:hover{
    color: var(--color1);
}
.p_nav:hover{
    color: var(--color1);
}
.menu_btn_small{
    display: none;
}
.mobile_menu_btn{
    cursor: pointer;
}
@media screen and (max-width:1024px){
    .flex_left ul li a{
        font-size:  1em;
    }
}
@media screen and (max-width:750px){
    .nav_flex{
        align-items: center;
    }
     .menu_btn_small{
        display: block;
        margin-right: 10%;
        cursor: pointer;
        margin-top: 4%;
    }
    .flex_left{
        display: none;
    }
    .nav_right{
        display: none;
    }
    .nav_img{
        margin: 0 auto;
        margin-left: 10%;
    }
    .sidebar{
        display: block;
      }
    .mobile_menu {
        display: flex;
        flex-direction: column;
    }
    .flex_left_m {
    }
    .cloud_logo_m {
    }
    .ul_flex2 li{
        list-style: none;
    }
    .ul_flex2 li a{
        text-decoration: none;
        list-style: none;
        color: var(--color2);
        color: rgb(180, 96, 77);
        font-size: 2em;
        font-weight: 400;
        line-height: 1.25em;
        letter-spacing: 0%;
        padding-right: 1.5em;
        white-space: nowrap;
        margin-top: 5%;
        align-self: center;
        margin-left: -10%;
        
    }
    .mobile_a {
    }
    .mobile_menu_btn {
        background-color: var(--color3);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        margin-bottom: 7%;
        padding: 13px;
        border-radius: 10px;
    }
    .close_btn {
        width: 34%;
        padding: 13px;
        border-radius: 10px;
    }
}
@media screen and (max-width:500px){
    .close_btn{
        width: 56%;
    }
    .ul_flex2 li a{
        font-size:  1.5em;
    }
}
@media screen and (max-width:360px){
    .close_btn{
        width: 85%;
    }
    .nav_img{
        margin-top: 5%;
        width: 20%;
    }
    .menu_btn_small{
        margin-top: 10%;
    }
    .ul_flex2 li a{
        margin-left: -35%;
    }
}
/* BG */
.bg .container{
    margin-top: 0.5%;
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center center;
    min-height: 435px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.a_bg {
    text-decoration: none;
    color: #FFF;
    background: var(--color2);
    padding: 13px 20px;
    margin-top: 19%;
    font-size: 1.15em;
}
.a_bg:hover{
    background: var(--color1);
    color: var(--color2);
}
@media screen and (max-width:750px){
    .a_bg{
        font-size: 1em;
        margin-top: 35%;
    }
    @media screen and (max-width:360px){
        .a_bg{
            font-size: 0.85em;
            margin-top: 65%;
        }
    }
}
/* Mini-text */
.mini_text .container {
    background: var(--color4);
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 304px;
}
.mini_p1 {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.25em;
    text-transform: uppercase;
}
.mini_p2 {
    margin-left: 5%;
    font-size: 1.85em;
    margin-top: 1%;
    text-transform: uppercase;
}
.mini_p3 {
    margin-left: 5%;
}
@media screen and (max-width:1024px){
    .mini_p1 {
        margin-top: 7.5%;
        font-size: 1.1em;
    }
    .mini_p2{
        font-size: 1.6em;
    }
    .mini_p3{

    }
}
@media screen and (max-width:750px){
    .mini_p1{
        margin-top: 11.5%;
        font-size: 1em;
    }
    .mini_p2{
        font-size: 1.5em;
        margin-top: 2%;
    }

}
@media screen and (max-width:500px){
    .mini_p1{
        margin-top: 15%;
        font-size: 0.85em;
    }
    .mini_p2{
        font-size: 1.25em;
        margin-top: 4%;
    }
}
@media screen and (max-width:360px){
    .mini_p1{
        margin-top: 30%;
        font-size: 0.8em;
    }
    .mini_p2{
        font-size: 1.15em;
        margin-top: 5%;
    }
}
/* PICK */
.pick {

}
   
.pick_p {
    margin-top: 3%;
    text-align: center;
    color: var(--color2);
    font-size: 1.5em;
}
.pick_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5% ;
    margin-top: 3.5%;
}
.pick_item {
}
.pick_img {
}
.p1_pick_flex {
    color: var(--color2);
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 3%;
}
.p2_pick_flex {
    color: var(--color2);
    margin-top: -1.5%;
}
@media screen and (max-width:500px){
    .pick_p {
        margin-top: 5%;
        font-size: 1.25em;
}
.pick_flex{
    gap: 0;
}
.pick_img {
    margin: 0 auto;
    width: 90%;
    margin-left: 5%;
}
.p1_pick_flex{
    font-size: 0.85em;
    margin-left: 10%;
}
.p2_pick_flex {
    font-size: 0.75em;
    margin-left: 10%;
}
}
@media screen and (max-width:360px){
    .p1_pick_flex{
        font-size: 0.75em;
    }
    .p2_pick_flex {
        font-size: 0.7em;
    }
}
/* CANDLE */
.candle .container{
    display: flex;
    flex-direction: column;
    background-image: url(images/feel.png);
    background-size: cover;
    background-position: center center;
    min-height: 414px;
    max-width: 1219px;
    margin-top: 6.2%;
}
.candle_text{

    display: flex;
    justify-content: space-between;
    align-content: center;
    background: var(--color2);
    max-width: 1219px;
    color: #FFF;
    opacity: 0.75;
    height: 30%;
    margin-top: -6%;
    padding-top: 0.65%;
    padding-bottom: 0.75%;
    margin-top: 27.5%;

}
.p1_candle {
    font-size: 1.32em;
    margin-left: 2.5%;
    text-transform: uppercase;
}
.p2_candle {
    margin-right: 2.5%;
    font-size: 1.25em;
}
@media screen and (max-width:1024px){
    .candle_text{
        margin-top: 32.5%
    }
}
@media screen and (max-width:750px){
    .candle_text{
        margin-top: 50%;
        padding-bottom: 0%;
        padding-top: 0%;
        height: 25%;

    }
    .p1_candle {
        font-size: 1em;
    }
    .p2_candle{
        font-size: 0.85em;
    }
}
@media screen and (max-width:500px){
    .candle_text{
        margin-top: 75%;
    }
    .p1_candle {
        font-size: 0.75em;
    }
}
@media screen and (max-width:360px){
    .candle_text{
        margin-top: 100%;
    }
    .p1_candle {
        font-size: 0.85em;
        margin-right: 5%;
    }
}
/* Girl */
.girl .container{
    margin-top: 3.2%;
    background-color: #F1D3B9;
    display: flex;
    margin-bottom: 3.2%;
}
.img_girl {
margin-top: 4.2%;
margin-left: 12.8%;
margin-bottom: 4.2%;
}
.girl_block {
    align-self: center;
    text-align: left;
    width: 30%;
    background-color: #F8F8F8;
    margin-left: -3.5%;
    margin-top: 6%;
    width: 36%;
}
.p1_girl {
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
    color: var(--color2);
    margin-bottom: 6%;
}
.p2_girl {
    margin-left: 9.5%;
    color: var(--color2);
    font-size: 1.3em;
    margin-top: 4%;
    margin-bottom: 0%;
    line-height: 1.3em;
    width: 80%;

}
.p3_girl {
    margin-left: 9.5%;
    color: var(--color2);
    padding-bottom: 6%;
    margin-top: 13%;
}
.p3_girl:hover{
    color: var(--color1);
}
@media screen and (max-width:1024px){
    .img_girl{
        margin-left: 2%;
    }
    .girl_block{
        margin-left: -20%;
        width: 46%;
    }
    .p1_girl{
        font-size:  1.7em;
    }
    .p2_girl{
        font-size: 1.1em;
    }
}
@media screen and (max-width:750px){
    .girl .container{
        flex-direction: column;
    }
    .img_girl{
        margin-right: 4%;
        margin-left: 4%;
        margin-bottom: 6%;
    }
    .girl_block{
        margin: 0 auto;
        width: 65%;
        margin-top: -20%;
        margin-bottom: 6%;
    }
    @media screen and (max-width:500px){
        .p1_girl{
            font-size: 1.4em;
        }
        .p2_girl{
            font-size: 1em;
        }
    }
}
@media screen and (max-width:360px){
    .p1_girl{
        font-size: 1.25em;
    }
    .p2_girl{
        font-size: 0.85em;
    }
    .girl_block{
        width: 80%;
        margin-top: -30%;
    }
}
/* Follow */
.follow {
}
.p_follow {
    text-align: center;
    font-size: 1.5em;
    margin-top: -1%;

}
.follow_flex {
    display: flex;
    gap: 10px;
    margin-left: 0.4%;
    margin-top: 3.9%;
}
.fol_im{
    width: 230px;
    height: 165px;
}
.follow_img1 {
    background-image: url(images/Follow1.png);
    background-size: cover;
    background-position: center center;
}
.img_dae {
    text-align: center;
}
.follow_img2 {
    background-image: url(images/Follow2.png);
    background-size: cover;
    background-position: center center;
}
.follow_img3 {
    background-image: url(images/Follow3.png);
    background-size: cover;
    background-position: center center;
}
.follow_img4 {
    background-image: url(images/Follow4.png);
    background-size: cover;
    background-position: center center;
}
.follow_img5 {
    background-image: url(images/Follow5.png);
    background-size: cover;
    background-position: center center;
}
.follow_img6 {
    background-image: url(images/Follow6.png);
    background-size: cover;
    background-position: center center;
}
@media screen and (max-width:750px){
    .follow_flex{
        flex-wrap: wrap;
        margin: 0 5%;
    }
    .fol_im{
        width: 40%;
        height: 180px;
    }
}
@media screen and (max-width:500px){
    .p_follow{
        font-size: 1.25em;
    }
    .fol_im{
        width: 100%;
        height: 200px;
    }
        .follow_flex{
    gap: 0px;
        }
}

